@import "../../assets/CSS/variable.scss";

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@include keyframes(test) {
  0% { 
    background: rgba(50, 49, 38,1);
    background: -moz-linear-gradient(left, rgba(50, 49, 38,1) 0%, rgba(255, 255, 255, 0.8) 20%, rgba(99,96,54,1) 50%, rgba(163, 157, 70, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(50, 49, 38,1) 0%, rgba(255, 255, 255, 0.8) 20%, rgba(99,96,54,1) 50%, rgba(163, 157, 70, 1) 100%);
    background: linear-gradient(to right, rgba(50, 49, 38,1) 0%, rgba(255, 255, 255, 0.8) 20%, rgba(99,96,54,1) 50%, rgba(163, 157, 70, 1) 100%);
   }
  100% { 
    background: rgba(50, 49, 38,1);
    background: -moz-linear-gradient(left, rgba(163, 157, 70, 1) 0%, rgba(50, 49, 38,1) 50%,  rgba(255, 255, 255, 0.5) 80%, rgba(99,96,54,1) 100%);
    background: -webkit-linear-gradient(left, rgba(163, 157, 70, 1) 0%, rgba(50, 49, 38,1) 50%,  rgba(255, 255, 255, 0.5) 80%,rgba(99,96,54,1) 100%);
    background: linear-gradient(to right, rgba(163, 157, 70, 1) 0%, rgba(50, 49, 38,1) 50%,   rgba(255, 255, 255, 0.5) 80%,rgba(99,96,54,1) 100%);

   }
}


@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

.container{
  max-width: 1200px;
  display: block;
  @include bg($blue);
  padding: 10px;
  margin: 15px 0;
  .cross-validation-error input { border-left: 5px solid $red; }
  label{ 
    font-family: HelveticaNeueLTStd-Roman, Arial, Helvetica, sans-serif;
    color: $white; 
    }
  .alert-danger{ 
    background-color: $red;
    border-color: $red;
    *{ color: $white; }
  }
  .btn-L10p{ margin-left: 10px; }
form{
   width: 100%;
    .btn{ 
      &:hover{
        color: $white;
        @include animation('test 1s 1');
        @include bg(rgba(50, 49, 38,1));
      }
    
    }
  .form-group-wrapper{ 
    display: flex;
    justify-content: center;
    align-content: center;
    .form-group{
      flex:100;
      margin-bottom: 0;
      &:last-child{ margin-left: 20px; }
    }

  }
}
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/